@import "tailwindcss";
@import 'primeicons/primeicons.css';

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

#app {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.p-menu {
  border-radius: 0 !important;
}